html,
body,
#root {
  margin: 0;
  width: 100%;
  height: 100%;
  background: #120f17;
}

.logo-stage,
.hs-canvas {
  width: 100%;
  height: 100%;
  display: block;
}

.hs-canvas {
  width: 100%;
  height: 100%;
  display: block;
}
